@import '~office-ui-fabric-react/dist/sass/_References.scss';

.HelloMSGraph {
  background-color: $ms-color-themeLighter;
  border: 1px solid $ms-color-neutralPrimaryAlt;
  border-radius: 12px;
  padding: 8px;
  ul {
    margin-top: 2px;
    border-top: 1px solid black;
    padding-left: 24px;
    li {
      margin-top: 4px;
      color: black;
    }
  }
}
