@import '~office-ui-fabric-react/dist/sass/_References.scss';

.classyBanner {
  .container {
    max-width: 800px;
    height: 122px;;
    margin: 0px auto;
    border: 1px solid black;
    border-radius: 8px;
    @include ms-Grid;
  }

  .row {
    @include ms-Grid-row;
  }
  
  .body {
    @include ms-Grid-col;
    @include ms-lg10;
    background-color: $ms-color-themeLight;

  }
   
  .title {
      @include ms-font-xl;
      @include ms-fontColor-white;  
      background-color: $ms-color-themeDark;
      margin: 4px;
      padding: 4px;  
      text-align: center;
      border-radius: 6px;
  }

  .image {
    height: 120px;
    @include ms-Grid-col;
    @include ms-lg2;
    background-color: red;
    border-left: 1px solid black;
    background: url('./BannerImage.jpg');
    background-repeat: no-repeat;  
  }

  .bodyContent {
    margin-left: 16px;
  }
    
  .bodyContent p {
    color: black;
  }
    
  .bodyContent p i {
    margin-right: 8px;
  }
  

}
