@model List<Microsoft.Graph.User>

@{ List<Microsoft.Graph.User> Users = Model; }

<h2>Users</h2>

<table class="table table-sm table-bordered table-striped">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Display Name</th>
    <th>User Princicpal Name</th>
  </tr>

  @foreach (var user in Users) {
  <tr>
    <td>@user.GivenName</td>
    <td>@user.Surname</td>
    <td>@user.DisplayName</td>
    <td>@user.UserPrincipalName</td>
  </tr>
  }


</table>

