@model List<MicrosoftGraphWebApp.Models.SiteResponse>

@{ List<MicrosoftGraphWebApp.Models.SiteResponse> Sites = Model; }

<h2>Office 365 Groups</h2>

<table class="table table-sm table-bordered table-striped">
  <tr>
    <th>Site Collection</th>
    <th>Web URL</th>
  </tr>
  @foreach (var site in Sites) {
    <tr>
      <td>@site.displayName</td>
      <td><a href="@site.webUrl" target="_blank">@site.webUrl</a></td>
    </tr>
  }
</table>