.customerSearch {
  margin-top: 16px;

  .customersView {
    padding: 0px;
    margin: 0px;
  }
    .cardBackdrop {
      background-color: #EEE;
      border: 1px solid #AAA;
      padding: 4px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

}