@using System.Security.Claims
@if (Request.IsAuthenticated)
{
  ClaimsPrincipal principal = ClaimsPrincipal.Current;
  string firstName = principal.FindFirst(ClaimTypes.GivenName).Value;
  string laststName = principal.FindFirst(ClaimTypes.Surname).Value;
  string userName = firstName + " " + laststName;

    <text>
         <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Welcome " + userName, "Index", "UserProfile", routeValues: null, htmlAttributes: null)
            </li>
            <li>
                @Html.ActionLink("Sign out", "SignOut", "Account")
            </li>
        </ul>
    </text>
}
else
{
     <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
