#view3  {
  color: darkblue;

  .persona-card {
    width: 360px;
    margin: 4px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #E3FFFF;
    display: inline-block;
  }
}