@import '~office-ui-fabric-react/dist/sass/_References.scss';

#top-nav{
  background-color: black;

  ul {
    margin: 0px;
    padding: 4px;
    li {
    display: inline-block;
    margin-left: 12px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
}
