@import '~office-ui-fabric-react/dist/sass/_References.scss';


.globalNavigationMenu {

      @include ms-bgColor-themeDark;
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: left;    
      border-bottom: 1px solid #333;

      .menuTitle {
        @include ms-font-m-plus;
        @include ms-fontColor-white;
        margin-right: 8px;    
      }

      i {
        @include ms-font-l;
        @include ms-fontColor-white;   
        margin-right: 4px; 
        margin-left: 4px; 
      }

      a {
        @include ms-bgColor-themeDark;
        @include ms-font-m;
        @include ms-fontColor-yellowLight;   
        margin-right: 4px;
        margin-left: 4px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 2px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        text-decoration: none;
      }

      a:hover {
        @include ms-fontColor-yellow;   
      }

}