<div class="row">
  <div class="jumbotron">
    <h2 ng-bind="vm.welcomeMessage"></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div ng-bind="vm.topic1Title" class="panel-heading"></div>
      <div ng-bind="vm.topic1Copy" class="panel-body"></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div ng-bind="vm.topic2Title" class="panel-heading"></div>
      <div ng-bind="vm.topic2Copy" class="panel-body"></div>
    </div>
  </div>
</div>
