<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- update these settings for your environment -->
		<add key="targetSiteUrl" value="https://YOUR_TENANT_NAME.sharepoint.com/sites/TeamSite2" />
		<add key="userName" value="YOUR_USER_ACCOUNT" />
		<add key="password" value="YOUR_PASWORD" />
	</appSettings>
</configuration>


