.userPersonaCard {
    padding: 8px;
    border: 1px solid #AAA;
    border-radius: 8px;
    height: 50px;
    max-height: 50px;
    width: 300px;
    display: inline-block;
    margin: 4px;
    background-color: white;
  }